// Left Navigation Styles

.left-nav {
  margin-top: 10px;

  > ul {
    list-style: none;
    margin: 0;
    padding: 5px 0;

    > li {
      > a {
        border-bottom: 1px solid var(--suit-border-color-light);
        display: block;
        padding: 5px 10px 5px 13px;
        color: var(--suit-nav-text);
        text-decoration: none;
        position: relative;

        i {
          margin-right: 10px;
          opacity: 0.8;
        }

        em {
          float: right;
          font-style: normal;
          font-size: 11px;
          margin: 0;
          position: absolute;
          right: 10px;
        }
      }

      &:last-child > a {
        border: 0;
      }

      &.active {
        > a {
          color: var(--suit-nav-active-text);
          text-shadow: 0 1px #4f7f92;
          background: var(--suit-nav-active-bg);
          border-bottom-color: #ccc;

          i {
            opacity: 1;
            color: white;
          }

          &::after {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-left: 10px solid #5295b0;
            margin-right: -21px;
            float: right;
            margin-top: -1px;
          }
        }

        ul {
          display: block;
        }
      }

      &.separator,
      &.separator:hover {
        background: var(--suit-bg-light) !important;
        height: 7px;
        display: block;
      }

      ul {
        display: none;
        border-bottom: 1px solid var(--suit-border-color-light);
        background-color: var(--suit-nav-submenu-bg);
        margin: -1px 0 0 0;
        padding: 7px 0;
        box-shadow: inset 0 3px 3px -2px rgba(0, 0, 0, 0.2);
        list-style: none;

        li {
          a {
            display: block;
            padding: 3px 0 4px 27px;
            text-decoration: none;
            color: var(--suit-nav-text);

            &:hover {
              background-color: var(--suit-nav-hover-bg);
              @extend .white-shadow-max;
            }

            &.add {
              padding: 4px 0 4px 13px;

              i {
                margin-right: 5px;
                opacity: 0.7;
              }
            }

            i {
              margin-left: -20px;
              margin-right: 5px;
              opacity: 0.7;
            }
          }

          &.active a {
            color: var(--suit-text-color);
            font-weight: bold;
          }
        }
      }

      &:not(.active):hover {
        background: var(--suit-nav-hover-bg);

        > ul {
          display: block;
          position: absolute;
          left: 180px;
          padding: 0;
          margin-top: -30px;
          margin-right: -250px;
          border-radius: $border-radius;
          box-shadow: none;
          @extend .greyer-box-shadow;
          z-index: 10;
          background-color: var(--suit-nav-bg);

          > li {
            border-bottom: 1px solid var(--suit-border-color-light);
            border-top: 1px solid var(--suit-table-bg);
            background-color: transparent;

            a {
              padding: 3px 25px 3px 15px;
            }

            &:hover {
              border-bottom-color: var(--suit-nav-hover-bg);
              border-top-color: var(--suit-nav-hover-bg);
            }

            &:first-child {
              border-top: 0;

              a {
                border-radius: $border-radius $border-radius 0 0;
                padding-top: 4px;
              }
            }

            &:last-child {
              border-bottom: 0;

              a {
                border-radius: 0 0 $border-radius $border-radius;
                padding-bottom: 4px;
              }
            }
          }
        }
      }
    }
  }
}

// Dark theme adjustments for active arrow
.dark-theme .left-nav > ul > li.active > a::after {
  border-left-color: #2563eb;
}
