// Pagination Styles

.pagination-block {
  margin: 15px 0;
  overflow: hidden;
}

.pagination {
  padding: 0;
  margin: 0 20px 0 0;
  float: left;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  ul li {
    display: inline-block;

    &.active a,
    &.active span {
      color: #fff;
      font-weight: bold;
      text-align: center;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      vertical-align: middle;
      border: 1px solid #2f96b4;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
      background: linear-gradient(to bottom, #5bc0de, #2f96b4);
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    }

    a,
    span {
      line-height: 26px;
      padding: 0 10px;
      display: inline-block;
      text-decoration: none;
      background-color: var(--suit-table-bg);
      border: 1px solid var(--suit-border-color);
      color: var(--suit-link-color);

      &:hover {
        background-color: var(--suit-bg-light);
        color: var(--suit-link-hover-color);
      }
    }
  }
}

.pagination-info {
  display: block;
  float: left;
  margin: 5px 0 0 0;
  color: var(--suit-text-muted);
}

// Bootstrap 5 pagination adjustments
.page-link {
  color: var(--suit-link-color);
  background-color: var(--suit-table-bg);
  border-color: var(--suit-border-color);

  &:hover {
    color: var(--suit-link-hover-color);
    background-color: var(--suit-bg-light);
    border-color: var(--suit-border-color);
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(var(--suit-blue), 0.25);
  }
}

.page-item {
  &.active .page-link {
    background: linear-gradient(to bottom, #5bc0de, #2f96b4);
    border-color: #2f96b4;
  }

  &.disabled .page-link {
    color: var(--suit-grey);
    background-color: var(--suit-bg-light);
    border-color: var(--suit-border-color);
  }
}
