// Table Styles

.table-overview {
  border-spacing: 0;
  margin-bottom: 18px;
  border-radius: $border-radius;
  background: var(--suit-table-bg);
  width: auto;
  min-width: 400px;
  @extend .grey-box-shadow;
  caption-side: top;

  td,
  th {
    padding: 8px 20px 8px 15px;
    font-weight: normal;
    font-size: 12px;
  }

  th:first-child {
    min-width: 145px;
  }

  th {
    text-align: right;
    border-right: 1px solid var(--suit-border-color-light);
    border-bottom: 1px solid var(--suit-border-color-light);
    vertical-align: top;
    color: var(--suit-text-color);
  }

  td {
    background-color: var(--suit-bg-light);
    border-bottom: 1px solid var(--suit-table-border);
    color: var(--suit-text-color);
  }

  tr:last-child {
    td,
    th {
      border-bottom: 0;
    }
  }

  tr:first-child td {
    border-top-right-radius: $border-radius;
  }

  tr:last-child td {
    border-bottom-right-radius: $border-radius;
  }

  tr:first-child th,
  tr:first-child td {
    padding-top: 10px;
  }

  tr:last-child th,
  tr:last-child td {
    padding-bottom: 10px;
  }

  caption {
    text-align: left;
    margin-bottom: 3px;
    color: var(--suit-text-color);

    a {
      font-size: 17px;
      font-weight: normal;
      margin: 0 0 5px 5px;
      text-decoration: none;
      color: var(--suit-link-color);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  tr.header-row {
    &:first-child th {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      border-top: 0;
    }

    th {
      text-align: center;
      font-weight: bold;
      background: var(--suit-table-header-bg);
      box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.3);
      border-bottom: 1px solid var(--suit-border-color);
      border-top: 1px solid var(--suit-border-color);
      @extend .white-shadow;
      padding: 5px 10px;
      color: var(--suit-text-color);
    }
  }
}

.table {
  background-color: var(--suit-table-bg);
  color: var(--suit-text-color);

  th,
  td {
    background-color: var(--suit-table-bg);
    @extend .white-inset;
    @extend .white-shadow;

    input {
      margin: 0;
    }

    a {
      text-decoration: none;
      color: var(--suit-link-color);

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      margin-bottom: 0;
    }
  }

  tr:not(:first-child) {
    th,
    td {
      border-top: 1px solid var(--suit-table-border);
    }
  }

  thead {
    line-height: 18px;

    th,
    td {
      padding: 7px 10px 8px;
      font-weight: bold;
      background: var(--suit-table-header-bg);
      box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.3);

      div {
        margin: 0;
      }

      .text {
        > a {
          padding: 8px 10px;
          margin: -6px -10px;
          display: block;
          color: var(--suit-link-color);
          text-decoration: none;

          &:hover {
            color: var(--suit-link-hover-color);
          }
        }

        > span {
          padding: 8px 10px;
          margin: -6px -10px;
          display: block;
          color: var(--suit-text-color);
        }
      }

      // Direct links in table headers (sortable columns)
      > a {
        color: var(--suit-link-color);
        text-decoration: none;

        &:hover {
          color: var(--suit-link-hover-color);
        }
      }
    }

    th {
      vertical-align: middle;
      line-height: normal;

      .relative-wrapper {
        position: relative;
        display: inline;
        float: right;
        width: 55px;
      }

      .sortoptions {
        margin-top: 2px;
        right: -55px;
        position: absolute;

        a,
        span {
          display: inline-block;
          float: left;
          padding: 0 3px;
        }

        .sortpriority {
          color: var(--suit-grey);
          padding-right: 4px;
        }

        .sortremove,
        .toggle {
          display: block;
          width: 12px;
          height: 12px;
          opacity: 0.4;

          &:hover {
            opacity: 0.8;
          }
        }

        .sortremove {
          margin-right: 4px;
        }
      }

      &.sorted {
        padding-right: 55px;
        background: var(--suit-table-header-sorted-bg);
      }
    }

    th.action-checkbox-column {
      width: 33px;
    }
  }
}

.inline-group .tabular {
  table.table {
    tr.add-row td {
      background: var(--suit-btn-default-bg);
      @extend .white-shadow;
      padding-left: 10px;
    }

    td.delete {
      text-align: center;
      width: 40px;
    }

    td .help-block {
      margin: 0;
    }
  }
}

.table .add-row a,
.add-row a {
  font-size: 11px;
  text-decoration: underline;
  color: var(--suit-link-color);

  &:hover {
    text-decoration: none;
  }
}

// Row status colors (light theme)
.table tbody {
  > tr.error,
  > tr.warning,
  > tr.info,
  > tr.success {
    box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
  }

  > tr.error {
    > td,
    > th {
      background-color: var(--suit-error-bg);
      border-top: 1px solid darken($bs-tr-error-color, 3%);
    }
  }

  > tr.warning {
    > td,
    > th {
      background-color: var(--suit-warning-bg);
      border-top: 1px solid darken($bs-tr-warning-color, 8%);
    }
  }

  > tr.info {
    > td,
    > th {
      background-color: var(--suit-info-bg);
      border-top: 1px solid darken($bs-tr-info-color, 5%);
    }
  }

  > tr.success {
    > td,
    > th {
      background-color: var(--suit-success-bg);
      border-top: 1px solid darken($bs-tr-success-color, 5%);
    }
  }
}

// Hover styles for status rows
.table-hover tbody {
  > tr.error:hover > th {
    background-color: darken($bs-tr-error-color, 5%);
  }

  > tr.warning:hover > th {
    background-color: darken($bs-tr-warning-color, 5%);
  }

  > tr.info:hover > th {
    background-color: darken($bs-tr-info-color, 5%);
  }

  > tr.success:hover > th {
    background-color: darken($bs-tr-success-color, 5%);
  }
}

// Selected rows
.table-striped.table-hover tbody {
  > tr.selected:hover {
    > td,
    > th {
      background-color: darken($tr-selected-color, 6%);
    }
  }

  > tr.selected:hover:nth-child(odd) {
    > td,
    > th {
      background-color: darken($tr-selected-color, 6%);
    }
  }
}

// Text alignment classes
.table th,
.table td {
  &.text-left,
  &.text-start {
    text-align: left;
  }

  &.text-center {
    text-align: center;
  }

  &.text-right,
  &.text-end {
    text-align: right;
  }
}

// Bordered table
.table-bordered {
  border-color: var(--suit-border-color);

  th:not(:first-child),
  td:not(:first-child) {
    border-left: 0;
  }
}

// Condensed/Small table
.table.table-condensed tbody,
.table.table-sm tbody {
  th,
  td {
    font-weight: normal;
    padding: 5px 10px 4px;
  }
}

// Selected row styles
.table {
  tbody > tr.selected {
    > th,
    > td {
      background-color: $tr-selected-color;
      border-top: 1px solid darken($tr-selected-color, 5%);
      box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.2);
      color: white;
      text-shadow: none;

      a {
        color: white;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  tbody > tr.selected:nth-child(odd) {
    > td,
    > th {
      background-color: lighten($tr-selected-color, 3%);
    }
  }
}

// Tabular Inlines Sortables
.inline-sortable {
  white-space: nowrap;

  a {
    display: inline-block;
    padding: 2px 6px 2px 2px;

    &:last-child {
      padding: 0;
    }

    &:hover {
      .icon-alpha5 {
        opacity: 0.5;
      }
    }
  }
}

.selected td {
  .inline-sortable a i,
  .inline-sortable a:hover i {
    opacity: 1;
  }
}

tr:first-child td .inline-sortable .sortable-up {
  opacity: 0.15;
  cursor: default;
}

tr.form-row:nth-last-child(3),
#result_list tr:last-child {
  td .inline-sortable .sortable-down {
    opacity: 0.15;
    cursor: default;
  }
}

// Bootstrap 5 table adjustments
.table-striped > tbody > tr:nth-of-type(odd) > * {
  background-color: var(--suit-table-stripe-bg);
}

.table-hover > tbody > tr:hover > * {
  background-color: var(--suit-bg-light);
}

// Dark theme table adjustments
.dark-theme {
  .table thead th,
  .table thead td {
    box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.05);
  }

  .table th,
  .table td {
    box-shadow: none;
  }
}
